:root {
    --light-background-color: #edf4ff;
    --border-color: #57b1dc;
    --headers-color: #1a1a56;
    --border-radius-for-box: 11px;
    --transition-time: .5s;
}

body {
	padding: 10px;
	font-family: sans-serif;
	text-align: justify;
	font-family: 'Ubuntu', sans-serif;
	max-width: 888px;
	margin: 0 auto;
	background-image: linear-gradient(to bottom, #ffffff, #fafafa); 
	background-repeat: no-repeat;
	background-attachment: fixed;
}
h1 {
	border-bottom: 1px solid var(--border-color);
}
h1, h2, h3, h4, h5, h6, h7 {
	margin-top: 30px;
	color: var(--headers-color);
}
h4, h5, h6, h7 {
	font-size: 100%;
}

/* --------------- */
#my_name {
	font-size: 400%;
	font-family: 'Rouge Script', cursive;
	margin: 22px 0;
	color: var(--headers-color);
	transition-duration: var(--transition-time);
}
#sticky_header {
	width: 100%;
	position: sticky;
	top: -1px;
	background-color: inherit;
	transition-duration: var(--transition-time);
	z-index: 99;
}
#sticky_header.is_pinned {
	background: linear-gradient(to right, rgba(255,255,255,1) 60%,rgba(255,255,255,0) 100%);
}
#sticky_header.is_pinned #my_name {
	font-size: 350%;
}
/* --------------- */
#current_position {
	margin: 22px;
	padding: 22px;
	background: var(--light-background-color);
	border-radius: var(--border-radius-for-box);
}
#current_position::before {
	content: "Current position";
	display: block;
	font-weight: bold;
	margin-bottom: 11px;
	color: var(--headers-color);
}
/* --------------- */
table.chronological {
	border-collapse: separate;
	border-spacing: 0 10px;
	width: 100%;
}
table.chronological td {
	padding: 10px;
	vertical-align: top;
}
table.chronological td:first-child {
	width: 155px;
	max-width: 26vw;
	text-align: right;
	border-right: 5px solid var(--light-background-color);
}
table.chronological tr {
	transition: var(--transition-time);
}
table.chronological tr:hover {
	background-color: var(--light-background-color);
}
/* --------------- */
a {
	transition-duration: var(--transition-time);
	word-break: break-word;
}
a:link {
	color: inherit;
	text-decoration-color: var(--border-color);
	text-decoration-thickness: 1px;
}
a:visited {
	color: inherit;
	text-decoration-color: var(--border-color);
}
a:hover {
	color: var(--border-color);
	text-decoration-color: var(--border-color);
}

.button {
	background-color: var(--light-background-color);
	border: 1px solid var(--border-color);
	color: inherit;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: var(--transition-time);
	border-radius: var(--border-radius-for-box);
}
.button:hover {
	color: inherit;
	border-radius: 0;
}
/* --------------- */
ul li {
	transition-duration: var(--transition-time);
	padding: 5px;
}
ul li:hover {
	background: var(--light-background-color);
}
/* --------------- */
.publication-title::before {
	content: '"';
}
.publication-title::after {
	content: '"';
}
.publication-title, .presentation-title {
	font-style: italic;
}

img.header_table_icon {
	display: inline-block;
	height: 1.2em;
	width:auto;
}

.skill_bubble {
	background: var(--light-background-color);
	border: 2px solid var(--light-background-color);
	padding: 5px 10px;
	border-radius: var(--border-radius-for-box);
	transition-duration: var(--transition-time);
	user-select: none;
}
.skill_bubble:hover {
	background: inherit;
}
