:root {
    --light-background-color: #edf4ff;
    --light-light-background-color: #f5faff;
    --border-color: #57b1dc;
    --headers-color: #1a1a56;
    --border-radius-for-box: .5em;
    --transition-time: 1s;
    --sidebar-width: 380px;
}
body {
	font-family: sans-serif;
	text-align: justify;
	font-family: 'Ubuntu', sans-serif;
}
h1 {
	border-bottom: 1px solid var(--border-color);
}
h1, h2, h3, h4, h5, h6, h7 {
	margin-top: 30px;
	color: var(--headers-color);
}
h4, h5, h6, h7 {
	font-size: 100%;
}
#my_name {
	font-size: 400%;
	color: var(--headers-color);
	line-height: 0.8;
	margin-bottom: 22px;
}
a {
	transition-duration: var(--transition-time);
	word-break: break-word;
}
a:link {
	color: inherit;
	text-decoration-color: var(--border-color);
	text-decoration-thickness: 1px;
}
a:visited {
	color: inherit;
	text-decoration-color: var(--border-color);
}
a:hover {
	color: var(--border-color);
	text-decoration-color: var(--border-color);
}
.button {
	background-color: var(--light-background-color);
	border: 1px solid var(--border-color);
	color: inherit;
	padding: 5px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
	transition-duration: var(--transition-time);
	border-radius: var(--border-radius-for-box);
}
.button:hover {
	color: inherit;
	border-radius: 0;
}
.skill_bubble {
	background: var(--light-light-background-color);
	border: 2px solid var(--light-background-color);
	padding: 5px 10px;
	border-radius: var(--border-radius-for-box);
	transition-duration: var(--transition-time);
	user-select: none;
	flex-shrink: 0;
}
.skill_bubble:hover {
	background: white;
}
.sidenav {
	height: 100%;
	width: var(--sidebar-width);
	position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	z-index: 1; /* Stay on top */
	top: 0; /* Stay at the top */
	left: 0;
	overflow-y: auto; /* No scroll */
	padding: 5px;
	background-color: var(--light-background-color);
}
.main {
  margin-left: var(--sidebar-width);
  padding: 20px;
}
#my_name_and_header_container {
	margin-bottom: 50px;
}
@media screen and (max-width: 1111px) {
	.sidenav {
		width: initial;
		top: initial;
		left: initial;
		position: initial;
		background-color: initial;
	}
	.main {
		width: initial;
		margin-left: initial;
		padding: 0px;
	}
	#my_name_and_header_container {
		margin-bottom: 0px;
	}
}
@media screen and (max-width: 444px) {
	.responsive_logo {
		width: 22px !important;
	}
}
